#content {
	border-top: 1.8em solid #171F5E;
}
#content li {
	list-style-type: none;
}
#content ul ul li:first-child {
	margin-top: 0.25em;
}
#content ul ul{
	background-color: #171F5E;
	border-bottom: 3px solid #171F5E;
}
#content ul ul li a{
	text-decoration: none;
	color: #fff;
	padding-left: 0em;
	margin: auto;
}

#content ul {
	font-weight: bold;
	color: white;
	margin-top: -1.5em;
}
#content ul ul{
	display: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
#content ul li:hover > div > ul {
	display: block;
	width: 10%;
	position: absolute;
	margin-left: -2.5em;
	padding-left: 2em;

}
#content div ul li:hover{
	border-right: 5px solid #00ac80;
	
}
#content ul li a:hover{
	color: #00ac80;
}
#content ul {
	padding-left: 14em;
	width:10%;
}


