#gallery{
	width: 100%;
	height: 20em;
	background-color: #171F5E;


}

#gallery div{
	margin:0 auto;
	margin-top: 10px;
}

#gallery img{
	-moz border-radius: 50%;
	-webkit border-radius: 50%;
}
#description{
	margin-top: -1.9em;
	width: 100%;
	height: 20%;
	background-color:#f5f5f5;
	clear: both;
}
#title{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}
.entry{
	width: 100%;
	margin: 0 auto;
}
#content1{
	margin-top: 80px;
	width: 100%;
}
#whatis, #types, #fees{
	width: 30%;
	padding-left: 30px;
	float:left;
	overflow: auto;
	min-width: 300px;
}
#intership{
	width: 100%;
	background-color: #ffffff;
}