
#content{
	width: 100%;
	background-color: #ECECEC;
	margin: 0px;
	border-bottom: 1px solid black;
}
#center{
	margin: 0 auto;
	width: 80%;
	}
#content-interns{
	margin-left: 3.1em;
}


.descrip{
	width: 80%;
	margin: 0 auto;
	color: white;
	font-size: 1em;
	text-align: justify;
	padding-top: 2em;

	


}
.descrip p:nth-child(1){
	width: 60%;
	float: right;
}

.des-title{
	width: 20%;
	color: white;
	font-size: 2em;
	float: left;
	margin-left: 3em;

}
#description{
	width: 100%;
	background-color: #171F5E;
	
}
#title{
	width: 100%;
	height: 5em;
	margin-top: 0px;
	background-color: white;
	color: #808798;
	text-align: center;
	text-decoration: underline; 
	
	padding-top: 1em;

}

#center{
	width: 80%;
	margin: 0 auto;
}
.profile:nth-child(even){
	width: 40%;
	padding: 1em;
	margin-right: 3em;
	float:left;
	padding-left: 3em;

}
.profile:nth-child(odd){
	width: 40%;
	padding: 1em;
	margin-right: 3em;

	float:left;
	clear: both;
}
.profile > p{
	width: 60%;
	text-align: justify;
	float: left;
	padding-top: 1em;
	padding-right: 1em;
}
.profile p:nth-child(2){
	width: 30%;
}
section  article:nth-child(odd) img{
	float: right;
	height: 10em;


	


}
section  article:nth-child(even) img{
	display: none;
	


}


.profile p:nth-child(3){
	  float: left;
	  width: 20%;
	  padding-left: 1em; 
	  padding-top: .5em;
	  
}
#content p a img{
	width: 6em;
	height: 6em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	display: inline;
	position: block;
}
