/*       
	Theme Name: BTS Theme with Slide      
	Theme URI: http://www.misite.cl       
	Description: descripcion del tema       
	Version: 1       
	Author: auto       
	Author URI: direccion web autor         

*/
/*
Reset css for the makeup
*/
body{
	margin: 0;
	background: white;
	min-width: 1100px;
	font-family: 'Source Sans Pro', sans-serif;
}


/*Header css*/
#header{
	width: 80%;
	margin:  0 auto;
	padding: 1em;
	font-family: 'Montserrat', Arial, serif;
	
	
	
}
#logo-content{
	margin:  0 auto;
	width: 100%;
	display: inline;
	clear: both;
	display: block;


}
#navegation{
	float: left;
	margin-left: 11em;
	margin-top: 1.5em;


	
}
#navegation ul li {
	display: inline;
	list-style: none;
	margin-left: 1em;
	color:black;

}
#navegation ul li a{
	text-decoration: none;
	
	font-size: 1em;

}
#navegation ul li.current-menu-item a{
	color: #00ac80;
	

}
#navegation ul li a:hover{
	color: #00ac80;
	

}

#logo {
	width: 20em;
	margin-left: 5em;
	float: left;
	
}


/*
End header
*/




/*
This section is footer
*/

#footer{
	background: #ececec;
	height: 15em;
	clear: both;
	font-size: 0.7em;
	width: 100%;
	min-width: 1000px;
	color: #171F5E;
}
#one{
	width: 18%;
	float: left;
	padding-right: 20px;
	padding-top: 5px;
	padding-left: 10px;
}
#one pre{
	font-family: 'Source Sans Pro', sans-serif;
}
#one1{
	width: 100%;
	min-width: 9em;
}
#two{
	float: left;
	width: 20%;
	min-width: 9em;
	overflow: hidden;
	height: 100%; 
}
#two img{
	float: left;
	padding-top: 10px;
	/*padding-right: 1em;
	padding-top: 1em;*/
	width: 100%;
}
#three {
	width: 12%;
	padding-top: 5px;
	float: left;
	padding-left: 20px;
}
#img1 , #img2{
	min-width: 4em;
	width: 100%;
}

#img1 img{
	width: 30%;
	padding-left: 10px;
	padding-bottom: 10px;
}
#img2 img{
	width: 30%;
	padding-left: 10px;
	padding-bottom: 10px;
}

#four{
	padding-top: 5px;
	float: left;
	height: 97%;
	width: 12%;
}

#four h4 {
	padding-left: 30px;
}
#four li{
	list-style: none;
	padding-top: 10px;
}

#five{
	line-height: 1em;
	width: 30%;
	float: left;
	padding-left: 30px;
	padding-top: 5px;
}

#total{
	line-height: 0.5em;
	height: inherit;
	width: 85%;
	min-width: 1100px;
	margin: 0 auto;
}
.custom-footer{
	display: none;
}

.menu li a{
	text-decoration: none;
	color: #171F5E;
}
