
/**
content
**/
#content{
	width: 100%;
	color:#fff;
}
#map{
	width: 100%;
	height: 30em;
	background: url(http://rjavier.com.mx/wordpress/wp-content/themes/theme2/images/bigMap.png);
	background-size: 100%;
}
textarea{
	margin-bottom: 1em;
	border-radius: 8px;
	width: 60%;
}
input{
	margin-bottom: 1em;
	border-radius: 8px;
	width: 60%;
	display:block;
	clear: both;
}
button{
	font-size: 1.3em;
	color: #fff;
	width: 7em;
	border-radius: 10px;
	background: #989bb4;
	display:block;
}
#contactInfo{
	background: #66bd7c;
	line-height: 1.5em;
	border-radius: 10px;
	margin-top: 7em;
	margin-right: 9em;
	padding:3em;
	float:right;
	width: 25%;
	height: 15em;
	font-weight: bold;
	list-style: none;
}
form{
	width: 90%;
}

#email{

	padding-bottom:1em;
	margin-bottom: 1em;
	border-bottom: 2px solid #8fba99;
	}
#state{
	padding-bottom:1em;
}
.glyphiconNull{
	padding-left: 1em;
}
#contactUS{

	width: 100%;
	height: 24em;
	clear: both;
	background: #171F5E;

}
 #contactUS-content{
 	height: inherit;
 	padding: 2em 0;
 	margin:0 21%;
 	width: 55%;
 	}
 #contactUS div div{
 	-webkit-box-sizing: border-box;
 	   -moz-box-sizing: border-box;
 	        box-sizing: border-box;
 	font-size: 1.2em;
 	height: 16em;
	width: 50%;
	float:left;
	
}
#follow{
	padding-left: 2em;
	border-left: 2px solid #3d4585;
	list-style: none;

}
#follow li{
	margin-right: 1em;
	display: inline;
	
}
#follow li a{
	text-decoration: none;
	color: #fff;
	}





/**
end content
**/
